.header{
    background-color: #f7ca;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.header h2{
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bolder;
}